ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    background-color: rgb(159, 159, 199);
}
li {
  
    display: inline;
    justify-content: space-between;
}
li a:hover {
    background-color: rgb(46, 46, 139);
    color: white;

}


body {
    background: #535772;
    text-align: center;
}

video{
    padding: 10%;
    margin-left: 5%;
}
#contact{ 
    padding: 5%;

}
.card{
padding: 10%;
}
.container{
padding-top: 5%;
margin-left: 5%;
}
h2{
    color: rgb(86, 38, 88);
}
h1{
    color: rgb(88, 20, 122);
}
h3{
    color: rgb(24, 31, 70);
}
.work{
    padding: 4%;
    margin-left: 5%;
}